[Desktop Entry]
Name=Calc
Comment=Infinite precision calculator with C-like syntax
Comment[pl]=Kalkulator nieskończonej precyzji ze składnią podobną do C
Icon=
Exec=calc
Terminal=true
Categories=ConsoleOnly;Education;Science;Math;
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
